@import url(header.css);
@import url(general.css);

#email_container_fluid {padding: 0;}

#email_container_fluid > div {padding: 0 7%;}

header.row.header_row {
    padding: 7%;
}

/* CUSTOM HEADER */

.head_info {
    display: flex;
    flex-direction: column;
    padding: 5% 0;
}

.head_info h3 {
    line-height: 1;
    font-size: 1.5rem;
    font-weight: 700;
}

.head_info h3.head_alert {
    font-weight: 400;
}

.body_info {}

.body_info h3 {
    border-bottom: 2px solid #d2d1d1;
    line-height: 1.5;
    font-weight: 700;
    margin: 3% 0;
    font-size: 1.5rem;
}

#email_container_fluid .container {
    width: 75%;
    margin: 0;
}

.body_info .contaier_data_applicant {
    font-size: 1.4em;
}

.body_info .contaier_data_applicant .row .label_data {
    margin-right: 2%;
    font-weight: 400;
}

.body_info .contaier_data_applicant .row .info_data {
    font-weight: 700;
}

.body_info .contaier_data_applicant .row {
    margin: 3% 0;
}

.row.footer_info {}

.row.footer_info a {
    font-size: 1.5em;
    border: 0;
    outline: 0;
    font-weight: 600;
    margin-top: 3%;
}

@media (max-width: 1199.98px) {}
@media (max-width: 991.98px) {}
@media (max-width: 767.98px) {}
@media (max-width: 575.98px) {
    #email_container_fluid > div {padding: 2rem !important;}
    header.row.header_row {}
    #email_container_fluid .container{
        width: 100%;
        padding: 0;
    }
    .row.footer_info{
    justify-content: center;
}
}
@media (max-width: 320px) {}